@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";



 @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }

body {
  margin: 0;
  min-height : 100vh; 
  background: #343c45;
  background: linear-gradient(217deg, rgba(52, 60, 69, 1) 0%, rgba(37, 45, 51, 1) 25%, rgba(42, 52, 56, 1) 50%, rgba(37, 45, 51, 1) 75%, rgba(32, 42, 48, 1) 100%);
  font-family: 'Montserrat', sans-serif;
}